{% extends "base.html" %}

{% block content %}
<h1 class="title">
	Laif is life!
</h1>
<p>Click <a href="/blog/">here</a> to see my posts.</p>
<h1 class="title">
  {{ section.title }}
</h1>
<ul>
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}

{% block blog %}
<h1 class="title">
Recent blog posts
</h1>
{% endblock blog %}
